section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section:not(:last-child) {
  margin-bottom: 30px;
}

.SectionTitle {
  margin-bottom: 16px;
  color: #eab71d;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}
